ion-grid {
  ion-row{
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    ion-img {
      width: min(50%, 250px);
      text-align: center;
      aspect-ratio: 1;
      background-size: cover;

      &::part(image) {
        border-radius: 50%;
      }
    }

    h1 {
      text-align: center;
    }

    ion-accordion-group {
      width: 100%;

      ion-accordion {
        &:nth-child(1) {
          border-radius: 16px 16px 0 0;
        }
        &:nth-last-child(1) {
          border-radius: 0 0 16px 16px;
        }
      }
    }
  }
}
