<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About your sexy lover
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About your sexy lover</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
      <ion-row>
        <ion-img class="profile" src="assets/images/profile-cropped.jpg" alt="Hien's beautiful profile"></ion-img>
      </ion-row>
      <ion-row>
        <h1>
          You are the representation of how God love me
        </h1>
      </ion-row>
  </ion-grid>
</ion-content>
