<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      About your sexy lover
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">About your sexy lover</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-grid>
    <ion-row>
      <ion-img class="profile" src="assets/images/profile-cropped.jpg" alt="Hien's beautiful profile"></ion-img>
    </ion-row>
    <ion-row>
      <h1>
        You are the representation of how God love me
      </h1>
    </ion-row>
    <ion-row>
      <ion-accordion-group>
        <ion-accordion value="first">
          <ion-item slot="header" color="light">
            <ion-label>My fantasies</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ul>
              <li>While wearing a apron</li>
              <li>While standing in front of the mirror</li>
              <li>While wearing a swimsuit</li>
              <li>While dressing like a sexy professor</li>
            </ul>
          </div>
        </ion-accordion>
        <ion-accordion value="second">
          <ion-item slot="header" color="light">
            <ion-label>What I am thankful about you</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ul>
              <li>Praying for me</li>
              <li>Giving me opportunity to lead</li>
              <li>Being silly with me</li>
              <li>Kissing me randomly</li>
            </ul>
          </div>
        </ion-accordion>
        <ion-accordion value="third">
          <ion-item slot="header" color="light">
            <ion-label>What I reckon us can work on</ion-label>
          </ion-item>
          <div class="ion-padding" slot="content">
            <ul>
              <li>Exercising together</li>
              <li>Traveling many places</li>
              <li>Trying out new place to do it</li>
              <li>Learning new skills</li>
            </ul>
          </div>
        </ion-accordion>
      </ion-accordion-group>
    </ion-row>
  </ion-grid>
</ion-content>
